.Header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0.5em 1em;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
}

.Header img{
 width: 25px;
}

.Nav_link{
 display: flex;
}

.Nav_link img{
 margin: 0 0.8em;
}