.actionBtn svg{
 font-size: 1.5em;
 margin-right: 1em;
}


.profileContainer .picSection{
 padding: 0 0.5em;
 padding-top: 1em;
}


.profileContainer .profilePic{
   width: 60px;
   height: 60px;
   border-radius: 1.9em;
}

.actionBtn>svg:last-child{
   margin-right: 0.2em;
}

.profileContainer h4{
  font-size: 1.5em;
  color: var(--textColor);
  margin: 0.5em 0 0.1em 0;
}

.profileContainer p{
 font-size: 1.1em;
 color: #aaaaaa;
 margin: 0;
}

.profileContainer .follower{
   display: flex;
}

.profileContainer .follower>p:first-child{
   margin-right: 2.5em;
}

.profileContainer .follower p span{
    font-weight: 500;
    color: var(--textColor);
    margin-right: 0.2em;
    font-size: 1.3em;
}

.profileContainer button{
   border: none;
   background-color: transparent;
   margin-bottom: 2em;
   color: var(--btnBgColor);
}

.nominated{
   display: flex;
   align-items: center;
   margin-bottom: 1em;
}

.nominated img{
   width: 40px;
   height: 40px;
   border-radius: 1em;
   margin-right: 0.5em;
}

.nominated p{
   font-size: 0.975em;
   line-height: 1.4;
}

.nominated p span{
   font-weight: 500;
   color: var(--textColor);
}

.addMemberBtn{
   background-color: lightblue !important;
   margin-bottom: 0 !important;
   padding: 0.8em 1em;
   border-radius: 1em;
   line-height: 1;
   margin-top: 0.2em;
}